:root {
    --main-accent-color: #F5CE3E;
    --background-color: white;
    --secondary-accent-color:#CE3EF5;
}

/* Nav bar */

.my-navbar {
border-bottom: var(--secondary-accent-color) solid 1px;
}

.navbar-brand img {
    object-fit: cover;
}
/* Nothing working */
.nav-item a {
    color: white !important;
    font-weight: bold;
}

.nav-item a:hover {
    color: var(--secondary-accent-color) !important;
}

.nav-item a:focus {
    color: var(--secondary-accent-color) !important;
}

/* Hero section - not working properly */
.hero-area {
    background-color:var(--main-accent-color);
    background-image:url(./images/hero-image.png);
    background-position:right;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
}

.my-button {
    color: white !important;
}

.hero-area h1 {
    color:var(--secondary-accent-color);
}

/* About Section */
.about-row {
    justify-content: center;
}

h3 {
    color:var(--secondary-accent-color);
}

.skills-section img {
    max-height: 100px;
    max-width: 80px;
}

.card-title {
    color:var(--secondary-accent-color);
}

/* Portfolio styling */
#portfolio-section {
    padding-top: 50px;
}

.card img {
    height: 300px;
    object-fit: cover;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.card-body p {
    color: black;
}

.project-card img:hover {
    filter: brightness(1.2);
    transition: all 0.3s ease-in-out;
}

.project-3-4 {
    margin-top: 15px;
}

/* Contact styling */
#contact-section {
    padding-top: 50px;
}

.contact-container {
    background-color: var(--secondary-accent-color);
    border-radius: 5px;
    height:50px;
    max-width: 500px;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-link a, .contact-link p {
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 10px;
    justify-content: center;
}

.contact-link a:hover, .contact-link p:hover {
    color:var(--main-accent-color);
    text-shadow: #FC0 0 1px 20px;
    transition: all 0.2s ease-in-out;
}

.contact-link {
    align-items:center;
    justify-content: center;
    align-self: center;
}

/* Footer styles */
.footer-button {
    background-color:var(--secondary-accent-color);
}

footer {
    padding: 10px;
    background-color: var(--main-accent-color);
}

.footer-button:hover {
    background-color:var(--background-color);
}