:root {
    --main-accent-color: #F5CE3E;
    --background-color: white;
    --secondary-accent-color:#CE3EF5;
}

/* Nav bar */
.navbar-brand img {
    object-fit: cover;
}
/* Nothing working */
.nav-item a {
    color: white !important;
    font-weight: bold;
}

.nav-item a:hover {
    color: var(--secondary-accent-color) !important;
}

.nav-item a:focus {
    color: var(--secondary-accent-color) !important;
}

/* Hero section - not working properly */
.hero-area {
    background-color:var(--main-accent-color);
    background-image:url(./images/hero-image.png);
    background-position:right;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
}

.my-button {
    color: white !important;
}

.hero-area h1 {
    color:var(--secondary-accent-color);
}